$body-bg: #fefefe;
$navbar-default-bg: rgba(255, 255, 255, 0.95);

$border-radius-base: 2px;
$border-radius-large: $border-radius-base;
$border-radius-small: $border-radius-base;

$jumbotron-bg: $body-bg;

$default-bg: #fafafa;
$panel-footer-bg: $default-bg;
$panel-default-heading-bg: $default-bg;
